{
    "useTabs": false,
    "tabSize": 2,
    "insertSpaces": false,
    "trimAutoWhitespace": true,
    "autoClosingQuotes": "always",
    "autoClosingBrackets": "always",
    "autoClosingOvertype": "always",
    "autoIndent": true,
    "formatOnType": true,
    "formatOnPaste": true,
    "dragAndDrop": false,
    "suggestOnTriggerCharacters": true,
    "singleQuote": true,
    "tabCompletion": true,
    "semi": false,
    "jsxSingleQuote": true
}